.section-6{
    padding: 70px 0;
    background-color: $color1;
    h3{
        color: white;
        margin-bottom: 25px;
    }
    .btn{
        background-color: #cfcfcf;
        color: $color1;
        padding: 15px 40px;
        border-radius: 5px;
        outline: none;
    }
}